APP_NAME=delawaredev_diamonds
APP_ENV=local
APP_KEY=base64:FsfSTCVveQHSuWIyhbX8vb8HNp3QHnqCFKtSAZTKa70=
APP_DEBUG=true
APP_URL=http://dev.diamonds.t

ORDER_SECRET_KEY=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=diamonds
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GMAPS_API_KEY=
GMAPS_DEFAULT_LATITUDE=
GMAPS_DEFAULT_LONGITUDE=

CURRENCY_RATE_API_KEY=
ENABLE_CURRENCY_RATE_API_SYNC=
DEFAULT_CURRENCY_RATE=

FRONTEND_URL="http://3.0.241.154"

CATALOG_TOKEN_KEY=

FILESYSTEM_CLOUD=public
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

FILEMANAGER_DISK=s3-private
AWS_PRIVATE_ACCESS_KEY_ID=
AWS_PRIVATE_SECRET_ACCESS_KEY=
AWS_PRIVATE_DEFAULT_REGION=
AWS_PRIVATE_BUCKET=

ALGOLIA_INDEX_PREFIX=local_
SCOUT_QUEUE=redis
ALGOLIA_APP_ID=
ALGOLIA_SECRET=

MAIL_FROM_ADDRESS=info@gsdiamonds.com
MAIL_FROM_NAME='GS Diamonds'

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox

DIAMONDS_PRICE_UPDATE=1
DIAMONDS_PRICE_INC=1

SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=1

TELEGRAM_BOT_TOKEN=
TELEGRAM_MANAGER_GROUP=

HUBSPOT_API_KEY=

GIFTPAY_APIKEY=
GIFTPAY_SANDBOX=

PRERENDER_TOKEN=